name: dtek

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

env:
  PYTHON_VERSION: "3.14"
  PLAYWRIGHT_VERSION: "1.58.0"
  OUTPUT_FILE: ${{ vars.NAME }}.json

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-slim
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v6

      - name: Checkout the data branch
        uses: actions/checkout@v6
        with:
          ref: data
          path: data

      - name: Set up Python ${{ PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ PYTHON_VERSION }}
          pip-install: playwright==${{ PLAYWRIGHT_VERSION }} requests

      - name: Install playwright chromium
        run: playwright install chromium --with-deps

      - name: Run scraper for ${{ vars.NAME }}
        env:
          SHUTDOWNS_URL: ${{ vars.SHUTDOWNS_URL }}
          BROWSERLESS_TOKEN: ${{ secrets.BROWSERLESS_TOKEN }}
        run: python scrape.py > ${{ GITHUB_WORKSPACE }}/data/${{ OUTPUT_FILE }}

      - name: Detect changes
        id: changes
        run: |
          cd ${{ GITHUB_WORKSPACE }}/data
          git add ${{ OUTPUT_FILE }}
          if git diff --staged --exit-code; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT

      - name: Trigger the webhook
        if:
          steps.changes.outputs.changed == 'true' && secrets.WEBHOOK_URL != ''
        run: |
          curl -s -d @${{ GITHUB_WORKSPACE }}/data/${{ OUTPUT_FILE }} --header "Content-Type: application/json" ${{ secrets.WEBHOOK_URL }}

      - name: Push the new ${{ OUTPUT_FILE }} to the data branch
        if: steps.changes.outputs.changed == 'true'
        run: |
          cd ${{ GITHUB_WORKSPACE }}/data
          git commit -m "${{ OUTPUT_FILE }}-$(date +%s)"
          git push origin HEAD:data
